body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.zag{
    text-align: center;
    font-size: 50px;
}
.but{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;

}